In [41]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from IPython.display import Image

%matplotlib inline

In [59]:
df = pd.read_csv('C:/Fall2018/specialTopics/cricket.csv')

In [60]:
df.head()

    Outlook Temperature Humidity    Wind Play Cricket
0     Sunny         Hot     High    Weak           No
1     Sunny         Hot     High  Strong           No
2  Overcast         Hot     High    Weak          Yes
3      Rain        Mild     High    Weak          Yes
4      Rain        Cool   Normal    Weak          Yes

In [61]:
df.dtypes

Outlook         object
Temperature     object
Humidity        object
Wind            object
Play Cricket    object
dtype: object

In [62]:
outlook_table= ['Sunny', 'Overcast', 'Rain']
temp_table= ['Hot','Mild','Cool']
humid_table=['Normal','High']
wind_table=['Weak','Strong']

df['Outlook'] = [outlook_table.index(Outlook) for Outlook in df['Outlook'] ]
df['Temperature'] =   [temp_table.index(Temperature)     for Temperature   in df['Temperature'] ]
df['Humidity'] = [humid_table.index(Humidity)     for Humidity   in df['Humidity'] ]
df['Wind'] = [wind_table.index(Wind)     for Wind   in df['Wind'] ]

In [63]:
df.head()

   Outlook  Temperature  Humidity  Wind Play Cricket
0        0            0         1     0           No
1        0            0         1     1           No
2        1            0         1     0          Yes
3        2            1         1     0          Yes
4        2            2         0     0          Yes

In [64]:
features = df.loc[:, df.columns != 'Play Cricket']
target = df.loc[:, ['Play Cricket']]

In [65]:
# test_size: what proportion of original data is used for test set
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.5, random_state=0)

In [66]:
print(X_train.shape)

(7, 4)

In [67]:
print(y_train.shape)

(7, 1)

In [68]:
print(X_test.shape)

(7, 4)

In [69]:
print(y_test.shape)

(7, 1)

In [70]:
from sklearn.tree import DecisionTreeClassifier

In [71]:
cls = DecisionTreeClassifier(max_depth = 3)

In [72]:
cls.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [74]:
y_pred = cls.predict(X_test)

In [75]:
from sklearn.metrics import classification_report, confusion_matrix  
print(confusion_matrix(y_test, y_pred))  
print(classification_report(y_test, y_pred))

[[1 0]
 [2 4]]
             precision    recall  f1-score   support

         No       0.33      1.00      0.50         1
        Yes       1.00      0.67      0.80         6

avg / total       0.90      0.71      0.76         7

In [76]:
y_test.head()

   Play Cricket
8           Yes
6           Yes
4           Yes
11          Yes
2           Yes

In [77]:
y_pred

array(['Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes'], dtype=object)

In [79]:
from sklearn.metrics import confusion_matrix

pd.DataFrame(
    confusion_matrix(y_test, y_pred),
    columns=['Class0 Predicted','Class1 Predicted'],
    index=['Class0 Actual','Class1 Actual']
)

               Class0 Predicted  Class1 Predicted
Class0 Actual                 1                 0
Class1 Actual                 2                 4

In [102]:
#import pydotplus
from sklearn import tree, metrics
from IPython.display import Image, display
from subprocess import call

In [103]:
dot_data = tree.export_graphviz(cls, out_file='C:/Fall2018/specialTopics/tree.dot',
                                feature_names=['Outlook', 'Temperature', 'Humidity', 'Wind'] ,
                                class_names=['No', 'Yes'],
                                filled=True, rounded=True)

In [104]:
metrics.accuracy_score(y_test, y_pred, normalize=True, sample_weight=None)

0.7142857142857143

In [105]:
import os
os.environ["PATH"] += os.pathsep + 'C:/Users/anuks/Anaconda3/pkgs/graphviz-2.38.0-4/Library/bin'

In [107]:
# graph = pydotplus.graph_from_dot_data(dot_data)
#call(['dot', '-T', 'png', 'C:/Fall2018/specialTopics/tree.dot', '-o', 'C:/Fall2018/specialTopics/dt.png'])